
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* CSS HEX */
    --fairy-tale: #fccde2ff;
    --night: #111111ff;
    --white: #fffdfeff;
    --carnation-pink: #f99dc6ff;
    --jet: #2a2a2aff;
    --black: #000000ff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}
/* Globales */
.colorBtnBlack {
    background-color: black;
    font-weight: bold;
    color: white;
}
.colorBtnWhite {
    background-color: white;
    font-weight: bold;
    color: black;
}
.carrusel{
    padding: 1rem;
}
/* Header */
.headerIndex{
    background-color: var(--fairy-tale);
}
.logo {
    width: 275px;
    max-width: 100%;
}
.carritoBlanco {
    font-size: 1.5rem;
    color: black;
}
.textHeader {
    font-weight: bold;
    font-size: 1.5rem;
}
.bgPage li a:hover {
    background-color: var(--carnation-pink);
    border-radius: 75%;
}
.espaciado {
    margin-right: 2rem;
}

/* Footer */

.footer{
    background-color: var(--fairy-tale);
}
.redesSociales{
    font-size: 1.5rem;
    color: black;
}

